@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Licorice&family=Poppins&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-licorice: "Licorice", cursive;
  --font-dancingScript: "Dancing Script", cursive;

  --animate-rotateEyes: rotateEyes 4s infinite linear;
  --animate-wonderFace: wonderFace 2s infinite
    cubic-bezier(0.075, 0.82, 0.165, 1);

  @keyframes rotateEyes {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes wonderFace {
    0% {
      height: 50px;
    }

    50% {
      height: 80px;
    }

    100% {
      height: 50px;
    }
  }
}
